/* Header */
#header {
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create {
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb {
  background: #cccccc;
  color: #333333;
}

.breadcrumb a {
  color: #333333;
}

/* Progress bar */
.progress-bar {
  background: #333333;
  color: #ffffff;
}
